.Form {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.Form :global .input__container {
    width: 100%;
}

.Form :global .input_size_default {
    width: 100%;
}

.Title {
    text-align: center;
}

.Text {
    color: var(--text-color-2);
}

.TextLink {
    cursor: pointer;
    color: var(--text-color-3);
}
