.fillingItems {
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4);
    height: 464px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: calc(var(--offset-base-size) * 10);
}
