.Root {

}

.fillingItems {
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4);
    height: 464px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Content {
    border: 1px solid transparent;
}
