:root {
    --text-color-1: #F2F2F3;
    --text-color-2: #8585AD;
    --text-color-3: #4C4CFF;
    --color-black-1: #1C1C21;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
